.explanation-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.grey-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;
    margin: auto 5vw;
    border-radius: 10px;
}