.header-wrapper {
    position: absolute;
    top: 20px;
    width: 80vw;
    height: 50px;
    z-index: 100;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.header {
    position: sticky;
    width: 100%;
    height: 100%;
    border: 1px dashed teal;
    border-radius: 10px;
}