body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: "Heebo", sans-serif;
    scroll-behavior: smooth;
}
.hero-section {
    color: white;
    height: 100%;
    background-color: rgb(15, 15, 15);
}
.scrollDown-container {
    width: 100%;
    display: flex;
    justify-content: center;
}