@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Miriam+Libre:wght@400;700&display=swap");
body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: "Heebo", sans-serif;
    scroll-behavior: smooth;
}
body:after{
    display:none;
    content: url("/assets/manual-crop.jpg") url("/assets/square-margin-fully-transparent.webp") url("/assets/square-margin.webp") url("/assets/math.webp");
}
.hero-section {
    color: white;
    height: 100%;
    background-color: rgb(15, 15, 15);
}
.scrollDown-container {
    width: 100%;
    display: flex;
    justify-content: center;
}