body,
html {
    margin: 0px;
    height: 100%;
    width: 100vw;
    font-family: "Heebo", sans-serif;
    scroll-behavior: smooth;
    overflow-x: clip;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
}
#hero-section {
    color: white;
    height: 100vh;
    background-color: rgb(15, 15, 15);
}
#animatedSquare-section {
    color: white;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    scroll-snap-align: end;
}
.scrollDown-container {
    width: 100%;
    display: flex;
    justify-content: center;
}