---
import { explanation } from "../text.json";
import "../styles/Explanation.scss";
export interface Props {
  lang: string;
}
const { lang } = Astro.props;
---

<div class="explanation-container">
  <div class="grey-container">
    {/* @ts-ignore */}
    <p>{explanation[lang]}</p>
  </div>
</div>
