---
import "../styles/Hero.css";
---

<div class="hero-container">
    <div class="hero-content">
        <div class="hero-text"></div>
        <div class="hero-image"></div>
    </div>
    <div class="hero-scroll"></div>
</div>
