---
import ScrollDown from "../components/ScrollDown.astro";
import "../styles/Hero.css";
---

<div class="hero-container">
    <secion class="hero-content">
        <div class="hero-text"></div>
        <div class="hero-image"></div>
    </secion>
    <section class="hero-scroll">
        <ScrollDown />
    </section>
</div>
