---
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import ScrollDown from "../components/ScrollDown.astro";
import "../styles/Layout.css";
export interface Props {
    lang: string;
}
const { lang } = Astro.props;
---

<html lang={lang} dir={lang === "he" ? "rtl" : "ltr"}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>ReverseProof</title>
    </head>
    <body>
        <Header lang={lang} client:only="svelte" />
        <section class="hero">
            <Hero lang={lang} client:load />
            <div class="scrollDown-container">
                <ScrollDown />
            </div>
            <div style="height: 100vh;" id="x">x</div>
        </section>
    </body>
</html>
